* {
    --obsidian-bg:#1E1E1E;

    --pink: #e4535e;
    --orange: #e38533;
    --orange-t: rgba(227, 133, 51, 0.05);
    --yellow-pencil: #faae3d;
    --wood: #81715e;
    --oatmeal: #d5c9b1;
    --oatmeal-t: rgba(213, 201, 177, 0.2);
}

body {
    --h2-color: var(--pink);
    --h3-color: var(--orange);
    --h4-color: var(--yellow-pencil);
    --h5-color: orange;
    --h6-color: pink;

    --user-custom-width: 55rem !important;
    --file-line-width: var(--user-custom-width) ;
    --content-max-width: 100rem !important;
    --content-base-width: var(--user-custom-width);
}

.cm-sizer {
    /*margin: 5% !important;*/
}


mark {
    font-style: italic;
    background-color: unset !important;
    color: var(--orange) !important;
}

a {
    font-style: italic;
}

center {
    font-style: italic;
    /*border-left: 4px solid var(--orange);*/
    /*padding: 0 6px;*/
    color: var(--oatmeal);
    /*border-left: 1px solid var(--oatmeal-t);*/
    /*border-right: 1px solid var(--oatmeal-t);*/

    display: block;
    max-width: max-content;
    margin: 0 auto;
    padding: 5px 24px 10px;
}

blockquote {
    font-style: italic;
    border: 1px solid var(--orange-t);
    border-left: 4px solid var(--orange);
    padding: 6px 6px 12px;
    text-align: center;
    background: linear-gradient(90deg, var(--orange-t), var(--obsidian-bg));
    margin: 0;
}

caption {
    font-style: italic;
    border-left: 4px solid var(--orange);
    padding: 0 6px;
    text-align: center;
    margin: 0;
}

/*
![[../imgsrc.png|center|500]]
*/
img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
